
/* Reset all default settings */
/** {
  all: unset;
}*/

#mainWindow{
    background: rgb(38, 50, 56);
    font-size: 16px;
}

label{
    color:white;
}

button {
    background: rgb(0, 131, 143);
    padding:0px;
    margin:0px;
    border-style: none;
}

button label{
    color: black;
}

button:hover label{
    color:white;
}

button:hover {
    color: white;
    background: rgb(0, 111, 123);
}

.h1{
    color: white;
    font-size: 40px;
}

.h2{
    color: white;
    font-size: 20px;
}