/* Override global css (higher priority) */
/*
*  Author::      Valentin
*  Developers:   Valentin
*  Version::     0.1
*  Copyright::   ©
*  License::     Distributes under the same terms as Ruby
*/

#label_field_pseudo{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.field_pseudo{
	font-size: 15px;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 100px;
	margin-right: 100px;
}
