/* Override global css (higher priority) */
/*
*  Author::      PAVARD Valentin
*  Developers:   PAVARD Valentin
*  Version::     0.1
*  Copyright::   ©
*  License::     Distributes under the same terms as Ruby
*/

.label_niveau{
    color: red;
    font-size: 20px;
}

.label_titre_stat{
    color: white;
    font-size: 18px;
}

.label_contenu_stat{
    color: black;
    font-size: 15px;
}
