/*
*	Author::      Valentin
*	Version::     0.1
*	Copyright::   © 2016
*	License::     Distributes under the same terms as Ruby
*/

#label_field_pseudo{
    color: white;
    font-size: 20px;
}

.field_pseudo{
	font-size: 15px;
}
