/*
*	Author::      Valentin
*	Version::     0.1
*	Copyright::   © 2016
*	License::     Distributes under the same terms as Ruby
*/

.ligne_score{
    color: white;
    font-size: 15px;
}

.label_titre_score{
    color: #FF9900;
    font-size: 18px;
}

