/* Reset all default settings */
/*
*  Author::      Valentin
*  Developers:   Valentin
*  Version::     0.1
*  Copyright::   ©
*  License::     Distributes under the same terms as Ruby
*/
#mainWindow{
    /*background: rgb(38, 50, 56);*/
    background-image: radial-gradient(ellipse at center, rgb(105,150,170) 0%, rgb(25,35,66) 90%);
    font-size: 16px;
}

label{
    font-family: Monospace;
}

button{
    border: 1px solid black;
    background: rgb(46,134,193);
    box-shadow: none;
    border-radius: 10px;
}

button label{
    color: white;
}

button:hover{
    background: rgb(52,152,219);
    box-shadow: none;
}

button:hover label{
    color: black;
}

button:active{
    background: rgb(40,116,166);
    box-shadow: none;
}

button:active label{
    color: black;
}

.titre_menu{
    color: white;
    font-size: 40px;
}

.pseudo_menu{
    color: white;
    font-size: 15px;
}

GtkMessageDialog{
    background-image: radial-gradient(ellipse at center, rgb(105,150,170) 0%, rgb(25,35,66) 90%);
    font-size: 30px;
}




